# Docker Image Versions
PROMETHEUS_VERSION=v3.13.1
GRAFANA_VERSION=12.2.10
GRAFANA_ADMIN_USER=''
GRAFANA_ADMIN_PASSWORD=''
LOKI_VERSION=3.7.2
ALLOY_VERSION=v1.17.0
TEMPO_VERSION=2.9.4
OTEL_COLLECTOR_VERSION=0.157.0
POSTGRES_EXPORTER_VERSION=v0.19.1
POSTGRES_VERSION=16
POSTGRES_DB=''
POSTGRES_USER=''
POSTGRES_PASSWORD=''
REDIS_EXPORTER_VERSION=v1.85.0-alpine
NODE_EXPORTER_VERSION=v1.12.1
CADVISOR_VERSION=v0.49.1
RABBITMQ_USER=''
RABBITMQ_PASSWORD=''
RABBITMQ_VERSION=3-management
REDIS_VERSION=7-alpine
CORS_ORIGIN=''
CACHE_TTL_SECONDS=''
NODE_ENV=development
SERVICE_VERSION=1.0.0